<%- include ('../partials/header'); -%>
<%- include ('../partials/subHead1'); -%>

<!--this whole thing will come under AJAX call because and everything will be planned-->
<form id="voting-form" action="<%=id%>" class="form-inline">

    <div id="outer" class="container">
    </div>
</form>

<script type="text/javascript">

    console.log("hi1");
    console.log(sessionStorage.getItem("<%=id%><%= username %>"));
    //console.log(response.username);
    $(document).ready(function (data) {
        var t = "<%=id%><%= username %>";
        console.log($("#post-head").text());
        console.log(<%= username %>);
        if (sessionStorage.getItem("<%=id%><%= username %>") === null) {
            var posts = new Array();
            sessionStorage.setItem(t, posts);

        }
        $('select').on('click', function () {
            document.getElementById($(this).attr('id')).disabled = true;
            console.log($(this).children("option:selected").val());
            var y = $(this).children("option:selected").val();
            var x = $(this).attr('id') + "?post=" + y;
            var z = "<%=id%><%= username %>";
            var finding = sessionStorage.getItem(z);
            console.log(JSON.stringify(finding));
            if (finding.includes(y, 0)) {
                console.log("visited");
            }
            else {
                console.log(finding);
                console.log(sessionStorage);

                //sessionStorage.removeItem('key');
                $.ajax({

                    url: x,
                    cache: true,
                    contentType: 'application/json',
                    success: function (response) {
                        var div1 = $('#outer');
                        $(div1).append("<h4 id='post-head'>" + response.post + "</h4>");

                        console.log(div1.children());
                        response.house.forEach(function (houses) {
                            $(div1).append("<div id='" + houses + "' class='container'></div>");
                            $('#' + houses).append("<h4 id='house-name" + houses + "'></h4>");
                            $('#' + "house-name" + houses).html(houses);
                            $('#' + houses).append("<div id='male" + houses + "' class='row text-center flex-wrap'></div>");
                            $('#' + "male" + houses).append("<div id='inner" + houses + "' class='container'></div>");
                            response.candy.forEach(function (candidate) {
                                if (candidate.house == houses) {
                                    $('#' + "inner" + houses).append("<div id='column" + candidate._id + "' class='col-md-3 col-sm-6'></div>");

                                    $('#' + "column" + candidate._id).append("<div id='image-boundary" + candidate._id + "' class='thumbnail'></div>");

                                    $('#' + "image-boundary" + candidate._id).append(
                                        "<img id='image' src='../" + candidate.image + "' width='200' height='100'>"

                                        + "<h4>" + candidate.name + "</h4>" +

                                        "<input id='choice[]' type='radio' name='" + candidate.house + "' value='" + candidate._id + "' required>");


                                }
                            })
                        })
                        $('#outer').append(
                            "<input type='submit' value='vote'>");


                    }

                });
            }
        });
        $("#voting-form").submit(function (shikhar) {

            event.preventDefault();
            var poster = $("#post-head").text();

            var dataString = $(this).serialize();
            var z = $(this).attr('action');
            console.log(dataString);
            $.ajax({
                url: '/matdan/' + z,
                data: dataString,
                method: 'put',
                success: function (result, status, xhr) {
                    //console.log(document.getElementById("post-head"))

                    sessionStorage[t] = sessionStorage[t] + " " + poster;

                    if (sessionStorage[t].length != <%= len %>)
            window.location.href = result.redirectTo;

                    else {
                window.location.href = result.redirectToo;
            }
        },
            error: function (xhr, status, error) {
                console.log('error')
            }

            });
        });
    });

</script>

<%- include ('../partials/footer'); -%>